
@font-face {
    font-family: Montserrat;
    /*font-weight: regular;*/
    font-weight: 400;
    src: url("../fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}


@font-face {
    font-family: Montserrat;
    font-weight: 300;
    src: url("../fonts/montserrat/Montserrat-Light.otf") format("opentype");
}


@font-face {
    font-family: Montserrat;
    font-weight: 100;
    src: url("../fonts/montserrat/Montserrat-Hairline.otf") format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-weight: 500;
    src: url("../fonts/montserrat/Montserrat-Black.otf") format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url("../fonts/montserrat/Montserrat-bold.otf") format("opentype");
}


@font-face{
    font-family: Roboto;
    src:url("../fonts/roboto/Roboto-Regular.ttf") format("opentype");
}

body{
	font-family: Montserrat, san-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: Montserrat, san-serif !important;
    color: #4c4c4c;
}

p{
    color: #7c7c7c;
    word-wrap: break-word;
}

.text-g{
    color: #7c7c7c;
}
.bg-hosting{
	background: url('../svg/php_hosting.svg') no-repeat right;
}

.light-text{
	font-weight: 100
}

.san-serif-text{
	font-family: Roboto;
}

.border-bottom{
	border-bottom: 1px solid #efefef!important;
}

.min-bold{
	font-weight: 600
}

.min-bold-300{
	font-weight: 400
}

.min-bold-200{
	font-weight: 300
}

.min-bold-100{
    font-weight: 100
}

.min-bold-150{
    font-weight: 280
}

.divide{
    height: 5px;
    background: #efefef;
    width: 10%;
}
.divide_vertical{
    border-right: 0.5px solid #ffff;
    opacity: 0.3
}

.btn-outline-white{
    border-color: #ffff;
}

.footer p{
    margin-bottom: 0px;
    line-height: 2;
    font-size: 0.8rem;
    font-weight: 300;
    color: #adadad;
}
.footer h6{
    font-weight: 400;
    color: #5d5d5d;
}
.footer small{
    font-size: 0.7rem;
    color: #5c5c5c;
}

.pricing{
    text-align: center;
    border: 1px solid #efefef;
    border-radius: 3px
}

.pricing .body{
    font-size: small;
    font-weight: 300;
    padding: 16px;
}

.pricing .body p{
    margin: 0px;
    line-height: 2;
}

.pricing .header, .pricing .price , .pricing .sub , .pricing .body{
    border-bottom: 1px solid #efefef;
    padding: 16px;
}

.pricing .price h2{
    /*font-size: x-large;*/
    /*text-align: center;*/
}

.pricing .header h2, .pricing .header h3, .pricing .header h4{
    margin: 0px;
    /*color: #fff;*/
}



.pricing-best{
    text-align: center;
    border: 1px solid #efefef;
    border-radius: 3px;
    border-color: #39A3F4;
}

.pricing-best .price h2{
    /*font-size: x-large;*/
    /*text-align: center;*/
}

.pricing-best .body{
    font-size: small;
    font-weight: 300;
    padding: 16px;
}

.pricing-best .body p{
    margin: 0px;
    line-height: 2;
}

.pricing-best .header,.pricing-best .price{
    background: #2d8fee;
    color: #fff;
}

.pricing-best .header h4, .pricing-best .price h2{
    color: #fff;
}

.pricing-best .sub{
    border-bottom: 1px solid #efefef;
    background: #247FDF;
    color: #fff;
}

.pricing-best .header, .pricing-best .price , .pricing-best .sub , .pricing-best .body{
    /*border-bottom: 1px solid #efefef;*/
    padding: 16px;
}

.pricing-best .header h2, .pricing-best .header h3, .pricing-best .header h4{
    margin: 0px;
    /*color: #fff;*/
}

.two_c_big{
    /*width: 2ch;*/
}

.xlarge{
  font-size: xx-large;
  /*margin: 0px*/
}

.large{
    font-size: xx-large;
}

.table-striped tbody tr:nth-of-type(odd){
    background: #f7f7f7;
}

.blue-star{
    color: #39A3F4;
    font-size: large;
}

.bg-blue-star{
    background: #39A3F4;
    color: #fff;
}

.clip{

    width: 10px;
    height: 10px;
    background: #F7F7F7;
    position: absolute;
    left: -5px;
    transform: rotate(45deg);
    border-left: 1px solid #e2e0e0;
    border-bottom: 1px solid #e2e0e0;

    z-index: -10
}

.sosial_footer{
    height: 50px;
    width: 50px;
}


.hide-mobile{

}
.hide-desktop{
    display: none;
}

.margin-top-mobile-4{
    margin-top: 0rem;
}



@media only screen and (max-width: 768px){
    .hide-mobile{
        display: none;
    }
    .hide-desktop{
        display: flex;
    }

    .margin-top-mobile-4{
        margin-top: 2rem
    }

    .no-padding-mobile{
        padding: 0 !important
    }

    .mt-mobile-2{
        margin-top: 1rem;
    }
}
